.container{
    display: flex;
}

.card{
    background-image: url("../img/dylan.png");
    background-size: cover;
    background-color: black;
    height: 100vh;
    width: 50%;
}

.card2{
    display: flex;
    background-color: black;
    color: grey;
    font-size: 5rem;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;

}